Library/
Temp/
.vs/
*.csproj
*.sln
*.unitypackage
*.csproj.user
/obj
/bin
/generate_csharp_client.cmd - Shortcut.lnk
/generate_csharp_client.cmd - Shortcut.lnk.meta
/maven_clean_package.cmd - Shortcut.lnk
/maven_clean_package.cmd - Shortcut.lnk.meta
