Library/
Temp/
.vs/
*.csproj
/*.sln
Assets/Swagger/generate_csharp_client.cmd - Shortcut.lnk
Assets/Swagger/generate_csharp_client.cmd - Shortcut.lnk.meta
Assets/Swagger/maven_clean_package.cmd - Shortcut.lnk
Assets/Swagger/maven_clean_package.cmd - Shortcut.lnk.meta
