Library/
Temp/
.vs/
*.csproj
*.sln
*.unitypackage
/obj
/bin
Assets/ChromaSDK/SDK/Swagger/generate_csharp_client.cmd - Shortcut.lnk
Assets/ChromaSDK/SDK/Swagger/generate_csharp_client.cmd - Shortcut.lnk.meta
Assets/ChromaSDK/SDK/Swagger/maven_clean_package.cmd - Shortcut.lnk
Assets/ChromaSDK/SDK/Swagger/maven_clean_package.cmd - Shortcut.lnk.meta
